<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".DailyExpensesApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:networkSecurityConfig="@xml/network_security_config">

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--  Add support for App-actions  -->
            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />

            <!--  Deep-link to add expense dialog  -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "expenses://add/?description=Groceries&amount=12.92" -->
                <data
                        android:scheme="expenses"
                        android:host="add" />
            </intent-filter>

            <!--  App-link to handle invites  -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts Web URIs "https://app.stuermer.pro/expenses" -->
                <data android:scheme="https" />
                <data android:host="app.stuermer.pro" />
                <data android:pathPattern="/expense/invite" />
            </intent-filter>

        </activity>

        <!--  Prevent Android from initializing the default WorkManagerFactory  -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                tools:node="remove" />

    </application>

</manifest>
